<ion-header>
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let u of usuarios; index as i">
     <ion-item button>        
        <ion-avatar slot="start">
            <img [src]="avatares[i]">
          </ion-avatar>
        <ion-label (click)="viewUser(u?.id)"><h2>{{u?.name}}</h2><p> <ion-icon name="business"></ion-icon>{{u?.company.name}}</p></ion-label>
     
        <ion-icon name="call" (click) ="callUser(u?.phone)" *ngIf="u?.phone !== undefined" color="success"></ion-icon>
    </ion-item> 
   </ion-list>
</ion-content>
